# Environment variables
.env

# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Chroma DB
chroma_db/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db